# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [1]:
A=[1,2,3,4,5,6,7,8,9,10]
A

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [ ]:
my_tuple=( "apple", "banana", "cherry")

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [3]:
numbers = [10, 20, 30, 40]
tuple(numbers)

(10, 20, 30, 40)

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [5]:
a={ 1, 2, 3, 4, 5}
a

{1, 2, 3, 4, 5}

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [6]:
student={"name":"ALice","age":23, "grade":"Master"}
student

{'name': 'ALice', 'age': 23, 'grade': 'Master'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [7]:
liste=[10, 20, 30, 40, 50]
liste[1]

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [8]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]="mango"
fruits

['apple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [11]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [12]:
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
person

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [17]:
squares = [x**2 for x in range(1, 11) if x % 2 == 0]
print(squares)

[4, 16, 36, 64, 100]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [23]:
my_tuple= tuple( x for x in range(1,11) if x % 2 == 0)
print(my_tuple)

(2, 4, 6, 8, 10)

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [25]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [29]:
numbers = {1, 2, 3, 4, 5}
if 3 in numbers:
    print(True)

True

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [30]:
numbers = (10, 20, 30)
len(numbers)

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [31]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [9]:
def liste(l):
     return sum(l)

In [10]:
liste([2,3,5,6])

16

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [1]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique=set(numbers)
unique

{1, 2, 3, 4, 5}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

-

In [12]:
a="hello"
a=list(a)
print(a)

['h', 'e', 'l', 'l', 'o']

--

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [18]:
tup=(1, 2, 3, 4)
list(tup)
a=tup[::-1]
tup=tuple(a)
tup

(4, 3, 2, 1)

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [2]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
DICT={**dict1,**dict2}
DICT

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [4]:
dictionnaire={i**2 for i in range(1,5)}
dictionnaire

{1, 4, 9, 16}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [5]:
dico = {"a": 1, "b": 2,"c": 3, "d": 4}
for value,keys in dico.items() :
    print(f"{keys}:{value}")

1:a
2:b
3:c
4:d

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [8]:
liste=[chr(i) for i in range(65,70)]
liste

['A', 'B', 'C', 'D', 'E']

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

-

In [10]:
liste1=[1, 2, 3]
liste2=["a", "b", "c"]
combine=zip(liste1,liste2)
combineListe= list(combine)
print(combineListe)

[(1, 'a'), (2, 'b'), (3, 'c')]

--

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [17]:
x=[10, 20, 30, 40, 50]
x.index(50 )

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

-

In [24]:
names = ["Alice", "Bob", "Charlie", "David"] 
listnames=sorted(names)
print(listnames)

['Alice', 'Bob', 'Charlie', 'David']

--

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [35]:
fruits = ["apple", "banana", "apple", "orange"]
appleCount=fruits.count("apple")
print(appleCount)

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [37]:
dictionnaires={"name":"Alice","age":25,"city":"New work"}
city=dictionnaires["city"]
print(city)

New work

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [ ]:
a=[4,5,7,"a","y",9]
b=[4,3,7,"a","q",8]

In [ ]:
def liste(liste1,liste2):

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [51]:
def generator():
    i=1
    while i<=10:
        yield i*i
        i+=1
ms=generator()
for j in ms:
    print(j)

1
4
9
16
25
36
49
64
81
100

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [62]:
def SumOfDictionaryValue(input_dico):
    return sum(input_dico.values())

# Example usage:
my_dict = {'a': 10, 'b': 20, 'c': 30}
total_sum = SumOfDictionaryValue(my_dict)
print(f"The sum of values in the dictionary is: {total_sum}")

The sum of values in the dictionary is: 60

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [64]:
mylist=[3, 1, 4, 1, 5, 9]
sorted(mylist)

[1, 1, 3, 4, 5, 9]

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [80]:
a = ["harilovam","Purity","sarika"]

In [81]:
result  = max( a, key=len)
result

'harilovam'

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [88]:
a=[1, 2, 3, 4, 5]
res= all(x>0 for x in a)
print(res)

True

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [89]:
liste_tuple=[(i,i**2) for i in range(1,6)]
liste_tuple

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [90]:
def second_elt(L):
    for i in L:
        print(i[1])

In [93]:
second_elt([(3,4), (7,9),(2,7)])

4
9
7

In [ ]:
a=[i for in range(1,8)]
b=

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [99]:
def liste(M):
    for value,index in enumerate(M):
        print(value,index)

In [100]:
liste(["apple", "banana", "cherry"])

0 apple
1 banana
2 cherry

In [101]:
t = ()
len(t)

0

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [103]:

tupl=()
if len(tupl)==0:
    print("la tuple est vide")
else:
    print("la tuple n'est pas vide")

la tuple est vide

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [111]:
even= [(i*2) for i in range(1,10)]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [132]:
def lista(i):
    i.reverse()
    print(i)

In [134]:
my_list = [1, 2, 3, 4]
lista(my_list)

#print(my_list)

[4, 3, 2, 1]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [1]:
dictio={i:i**3 for i in range(1,6)}
dictio

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [2]:
liste=[1, 2, 2, 3, 4, 4, 5]
unique_list=list(set(liste))
print(unique_list)

[1, 2, 3, 4, 5]

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [5]:
dic_list={'a':1,'b':2,'c': 3, 'd':4}
dic_list.values()

dict_keys(['a', 'b', 'c', 'd'])

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [44]:
from functools import lru_cache

@lru_cache(None)
def fib(n):
    if n <= 1:
        return n
    return fib(n-1) + fib(n-2)

In [45]:
fib(6)

8

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [48]:
def unique(s):
    uniList=[]
    for char in s:
        if char not in uniList:
            uniList.append(char)
    return uniList

In [49]:
s=[3,6,7,3,6,72,6,7,7]
unique(s)

[3, 6, 7, 72]

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [50]:
def merge(l1,l2):
    return l1+l2

In [51]:
l1=[1, 2, 3, 4, 5, 6]
l2=[3,6,7,3,6,72,6,7,7]
merge(l1,l2)

[1, 2, 3, 4, 5, 6, 3, 6, 7, 3, 6, 72, 6, 7, 7]

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

-

In [1]:
def odd(number):
    return number % 2 != 0

numbers = [1, 2, 3, 4, 5, 6, 7]
odd_num = list(filter(odd, numbers))
print(odd_num)

[1, 3, 5, 7]

--

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [69]:
d=[(1, 2), (3, 4), (5, 6)]
dico=dict(d)
print(dico)

{1: 2, 3: 4, 5: 6}

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

In [70]:
s1={3,35,6,78,8,4,4,}

s2={2,5,6,7,8,4,3,22,45,56,7}

{2, 5, 7, 22, 35, 45, 56, 78}

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [78]:
liste1=[3,35,6,7,8,4,4]

liste2=[2,5,6,7,8,4,3,22,45,56,7]

liste3=[2,5,63,7,8,4,34,22,45,6,7]
common_el=set(liste1) & set(liste2) & set(liste3)
print(common_el)

{8, 4, 6, 7}

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [79]:
def fact(n):
    if n<=1:
        return 1
    return n*fact(n-1)

In [80]:
fact(4)

24

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [81]:
liste=["apple", "", "banana", "", "cherry"]
liste=[item for item in liste if item!=0]
print(liste)

['apple', '', 'banana', '', 'cherry']

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [4]:
def even(Liste):
    return Liste %2 ==0
    
Liste=[1, 2, 3, 4, 5, 6, 3, 6, 7, 3, 6, 72, 6, 7, 7]
even_list=list(filter(even,Liste))
print(even_list)

[2, 4, 6, 6, 6, 72, 6]

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

In [20]:
def liste(liste_tuple):
    return [t[0] for t in liste_tuple]

In [22]:
liste_tuple=[(3,5,6,7),(6,66,77,22,69),(12,34,56,78)]
lst=liste(liste_tuple)
print(lst)

[3, 6, 12]

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [9]:
def remove_duplicates(liste):
    unique = []
    for item in liste:
        if item not in unique:
            unique.append(item)
    return unique

In [10]:
liste=[1,3,5,6,3,5,6]
remove_duplicates(liste)

[1, 3, 5, 6]

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

In [15]:
def lenght(lst):
    return list(map(len,lst))

In [17]:
lst=["banana","mango","apple"]
lenght(lst)

[6, 5, 5]

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [22]:
lis=[10, 20, 30, 40, 50]
average=sum(lis)/len(lis)
print(average)

30.0

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

In [27]:
fruits= ["apple", "banana", "apple", "cherry"]
dic_fruits={}

for i in fruits:
    if i in dic_fruits:
        dic_fruits[i]+= 1
    else:
        dic_fruits[i]= 1
print(dic_fruits)

{'apple': 2, 'banana': 1, 'cherry': 1}

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [ ]:
frts= ["apple", "banana", "apple", "cherry"]
def removal(liste)
for i in liste:
    if i

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

In [35]:
def start_vowel(V):
    vowels=('a','o','i','e','u','y')
    return [i for i in V if i.lower().startswith(vowels)]

In [36]:
V= ["apple", "banana", "apple", "cherry"]
resultat=start_vowel(V)
print(resultat)

['apple', 'apple']

#### ---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

In [39]:
set1={2,3,5,7,8}
set2={2,6,5,4,6,3}
intersection=set1&set2
print(intersection)

{2, 3, 5}

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

In [44]:
def flattens(nested_list):
    l=[]
    for i in nested_list:
        if isinstance(i,list):
            l.extend(flattens(i))
        else:
            l.append(i)
    return l

In [45]:
data = [1, [2, [3, 4], 5], [6, 7], 8]
flattens(data)

[1, 2, 3, 4, 5, 6, 7, 8]

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

In [50]:
def check(l):
    return len(l)==len(set(l))

In [51]:
l=[1, 2, 3,3,4, 4, 5, 6, 7, 6,7,8,8]
check(l)

False

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

In [55]:
from functools import reduce
def multy(liste):
    return reduce(lambda x,y:x*y,liste)

In [56]:
liste=[1, 2, 3,3,4, 4, 5, 6, 7, 6,7,8,8]
multy(liste)

162570240

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

In [58]:
def dic(strings_liste):
    return {keys: len(keys) for keys in strings_liste}

In [59]:
strings_liste= ["apple", "banana", "apple", "cherry"]
dic(strings_liste)

{'apple': 5, 'banana': 6, 'cherry': 6}

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

In [67]:
def count(string):
    vowels="aeoiuy"
    count=0
    for i in string:
        if i in vowels:
           count+=1 
    return count

In [68]:
string="I relly want to master python, is it possible?"
count(string)

13

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

In [72]:
import math
factorial=[(n,math.factorial(n)) for n in range(1,6)]
print(factorial)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

In [84]:
def mrg(list_dico):
    dico={}
    for d in list_dico:
        dico.update(d)
    return dico

In [85]:
dic=({'a':1,'b':2,'c':3},{'e':11,'f':23,'g':43})
mrg(dic)

{'a': 1, 'b': 2, 'c': 3, 'e': 11, 'f': 23, 'g': 43}

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

In [88]:
def set_funct(set1,set2):
    return set1.issubset(set2)

In [89]:
setA={1,4,5,7,8,5}
setB={24,67,89,53,1,4,5,7,8,5}
set_funct(setA,setB)

True

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

In [102]:
def sort_tuple(list_tuple):
    return sorted(list_tuple, key=lambda x: x[1])

In [105]:
l= [(1, 4), (3, 1), (5, 2), (2, 3)]
res=sort_tuple(l)
sort_tuple(res)

[(3, 1), (5, 2), (2, 3), (1, 4)]

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

In [108]:
def integer_funct(liste):
    lst=[]
    for i in liste:
        if i<=0:
            lst.append(i)
    return lst

In [109]:
liste=[-3,5,-7,-8,3,6]
integer_funct(liste)

[-3, -7, -8]

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

In [118]:
def ensemble(setA,setB):
    return setA.union(setB)

In [119]:
setA={1,4,5,7,8,5}
setB={24,67,89,53,1,4,5,7,8,5}
ensemble(setA,setB)

{1, 4, 5, 7, 8, 24, 53, 67, 89}

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

_

In [124]:
def prod_num(lis_num):
    prod=1
    for i in lis_num:
        prod*=i
    return prod

In [125]:
lis_num=[1, 2, 3,3,4, 4, 5, 6, 7, 6,7,8,8]
prod_num(lis_num)

162570240

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

In [126]:
def convert(lst):
    return ''.join(lst)

In [130]:
lst=['j','e',' ','f','i','e','r',' ','d',' ','e','t','r','e',' ','c','h','r','e','t','i','e','n','n','e']
ls=convert(lst)
print(ls)

je fier d etre chretienne

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

In [135]:
def largest(liste):
    if not liste:
        return None
    maxi=liste[0]
    for i in liste:
        if i>maxi:
            maxi=i
    return maxi

In [136]:
liste=[1, 2, 3,3,4, 4, 5, 6, 7, 6,7,8,8]
largest(liste)

8

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

In [3]:
def list_key(dico):
    list_keys=[]
    for k in dico.keys():
        list_keys.append(k)
    return list_keys

In [4]:
dico = {"nom": "Alice", "âge": 25, "ville": "Paris"}
list_key(dico)

['nom', 'âge', 'ville']

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

In [2]:
def common_elmt(liste):
    total_elmt=liste[0]
    counter=0
    for i in liste:
        count=0
        for j in liste:
            if i==j:
                count+=1
        if count>=counter:
            counter=count
            total_elmt=i
    return total_elmt

In [4]:
liste=[1, 2, 3,3,4, 4, 5, 6,6, 7, 6,7,8,8]
common_elmt(liste)

6

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.


```python
# Exercise 85
```
---

In [5]:
def sort_tuple_list(liste_tuple):
    return sorted(liste_tuple, key=lambda x: x[0])

In [6]:
liste_tuple = [('banana', 2), ('apple', 1), ('cherry', 3)]
sort_tuple_list(liste_tuple)

[('apple', 1), ('banana', 2), ('cherry', 3)]

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

In [9]:
def removes(dic_list):
    dico={}
    for k in dic_list:
        if k not in dico:
            dico.update(k)
    return dico

In [63]:
dic_list={'a': 1, 'b': 2, 'c': 3, 'e': 11, 'f': 23, 'g': 43,'a': 1, 'b': 2, 'c': 3}
removes(dic_list)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

In [20]:
def min_max(liste):
    if not liste:
        return None
    max_value=max(liste) 
    min_value=min(liste)
    print(f"Le maximun dans la liste est {max_value}")
    print(f"Le minimun dans la liste est {min_value}")

In [21]:
liste=[1, 2, 3,3,4, 4, 5, 6,6, 7, 6,7,8,8]
min_max(liste)

Le maximun dans la liste est 8
Le minimun dans la liste est 1

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

In [24]:
noms = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
personnes=list(zip(noms,ages))
print(personnes)

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

In [29]:
def list_of_string_reverse(lst):
    return list(reversed(lst))

In [30]:
lst=['j','e',' ','f','i','e','r',' ','d',' ','e','t','r','e',' ','c','h','r','e','t','i','e','n','n','e']
list_of_string_reverse(lst)

['e',
 'n',
 'n',
 'e',
 'i',
 't',
 'e',
 'r',
 'h',
 'c',
 ' ',
 'e',
 'r',
 't',
 'e',
 ' ',
 'd',
 ' ',
 'r',
 'e',
 'i',
 'f',
 ' ',
 'e',
 'j']

In [31]:
def list_string_reverse(lst):
    return lst[::-1]

In [32]:
lst=['j','e',' ','f','i','e','r',' ','d',' ','e','t','r','e',' ','c','h','r','e','t','i','e','n','n','e']
list_string_reverse(lst)

['e',
 'n',
 'n',
 'e',
 'i',
 't',
 'e',
 'r',
 'h',
 'c',
 ' ',
 'e',
 'r',
 't',
 'e',
 ' ',
 'd',
 ' ',
 'r',
 'e',
 'i',
 'f',
 ' ',
 'e',
 'j']

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

In [33]:
def sum_odd(lst):
    liste=[]
    for i in lst:
        if i%2!=0:
            liste.append(i)
    return sum(liste)

In [34]:
lst=[1, 2, 3,3,4, 4, 5, 6,6, 7, 6,7,8,8]
sum_odd(lst)

26

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

In [41]:
def palindrome(string):
    
    return string==string[::-1]

In [42]:
string="RADAR"
palindrome(string)

True

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

In [51]:
def mediane(lst):
    lst=sorted(lst)
    n=len(lst)
    milieu=n//2
    if n%2==0:
        return (lst[milieu-1]+lst[milieu])//2
    else:
        return lst[milieu]

In [52]:
lst=[1, 2, 3,3,4, 4, 5, 6,6, 7, 6,7,8,8]
mediane(lst)

5

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

In [53]:
def mode(lst):
    max_count=0
    mode_value=None
    for i in lst:
        count=lst.count(i)
        if count>max_count:
            max_count=count
            mode_value=i
    return mode_value

In [54]:
lst=[1, 2, 3,3,4, 4, 5, 6,6, 7, 6,7,8,8]
mode(lst)

6

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

In [57]:
def sum_square(lst):
    return sum((x*2) for x in lst)

In [58]:
lst=[1, 2, 3, 4]
sum_square(lst)

20

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

In [62]:
l= [(x,x**3) for x in range(1,6)]
print(l)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

In [66]:
dic1={'a': 1, 'b': 2, 'c': 3, 'e': 11, 'f': 23, 'g': 43,'a': 1, 'b': 2, 'c': 3}
dic2={'c': 3, 'e': 11, 'f': 23, 'g': 43}
common_keys= set(dic1.keys())& set(dic2.keys())
print(common_keys)

{'c', 'e', 'f', 'g'}

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

In [67]:
def lg_string(lst_str):
    return [l for l in lst_str if len(l)>5]

In [68]:
lst_str=["Alice", "Bob", "Charlie"]
lg_string(lst_str)

['Charlie']

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

In [70]:
lst_str=["Alice", "Bob", "Charlie"]
lst_tuple=[(i,len(i)) for i in lst_str]
print(lst_tuple)

[('Alice', 5), ('Bob', 3), ('Charlie', 7)]

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [74]:
def sum_dicts(dict_list):
    result={}
    for d in dict_list:
        for key,value in d.items():
            if key in result:
                result[key] += value
            else:
                result[key]=value
    return result

In [76]:
dic1=[{'a': 1, 'b': 2, 'c': 3, 'e': 11, 'f': 23, 'g': 43,'a': 1, 'b': 2, 'c': 3},{'c': 3, 'e': 11, 'f': 23, 'g': 43}]

sum_dicts(dic1)

{'a': 1, 'b': 2, 'c': 6, 'e': 22, 'f': 46, 'g': 86}